<header class="header">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1>Üdvözöljük a Masszázs oldalon!</h1>
          <p class="lead">A masszázs segít a test és lélek harmóniájának elérésében.</p>
        </div>
      </div>
    </div>
  </header>
  <br>

  <section id="services" class="services services-box">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Szolgáltatásaink</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Svédmasszázs</h4>
              <p class="card-text">A svédmasszázs a legismertebb és legelterjedtebb masszázs fajta, melynek célja a test teljes ellazítása.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Thai masszázs</h4>
                <p class="card-text">A thai masszázs egy olyan masszázs technika, melyet a test nyújtásával és nyomásával végeznek el.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Reflexológia</h4>
                <p class="card-text">A reflexológia a test egyes pontjaira hatva segít javítani az általános egészségi állapotot.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br>

    <section id="about" class="about">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2>Rólunk</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p>A masszázs oldal egy olyan hely, ahol a test és lélek harmóniájának elérésére törekszünk. A masszázs segít a testi és lelki feszültségek oldásában, a relaxációban, valamint az általános egészség javításában. Célunk, hogy minél több emberhez eljussunk, és segítsük őket a testük és lényük egészségének megőrzésében.</p>
            </div>
            <div class="col-md-6">
              <img src="/assets/homepc.jpg" class="img-fluid" alt="Rólunk kép" />
            </div>
          </div>
        </div>
      </section>
      <br>
